.calendar {
  --fc-border-color: white;
  --fc-event-bg-color: #b1b1b1;
  --fc-event-text-color: black;
  --fc-event-border-color: white;
  --fc-button-bg-color: #b1b1b1;
  --fc-button-hover-bg-color: #b1b1b1;
  --fc-button-active-bg-color: black;
  --fc-button-hover-border-color: black;
  --fc-page-bg-color: black;
  --fc-today-bg-color: rgba(54, 255, 40, 0.15);
}
