#quanticaLogo {
  width: 26px;
  height: 26px;
  animation: spin 5s ease infinite;
}

#logoLink:hover #quanticaLogo {
  animation-play-state: paused;
}

#quanticaLogoSmall {
  width: 24px;
  height: 24px;
  animation: spin 5s ease infinite;
}
@keyframes spin {
  0% {
    transform: rotate(0deg);
    transform-origin: center;
  }
  100% {
    transform: rotate(360deg);
    transform-origin: center;
  }
}
