#slider {
  writing-mode: bt-lr; /* IE */
  -webkit-appearance: slider-vertical; /* Chromium */
}

#slider::-webkit-slider-runnable-track {
  cursor: pointer;
  animate: 0.2s;
  background: #b1b1b1;
  border-radius: 10px;
}

#slider::-moz-range-track {
  cursor: pointer;
  animate: 0.2s;
  background: #b1b1b1;
  border-radius: 10px;
}

#slider::-ms-track {
  cursor: pointer;
  animate: 0.2s;
  background: #b1b1b1;
  border-radius: 10px;
}

@media (max-width: 419px) {
  .banner-scroll {
    will-change: transform;
    animation-delay: 250ms;
    animation: bannermove 7s 0.1s linear infinite;
  }
}

@keyframes bannermove {
  from {
    transform: translateX(0%);
    -webkit-transform: translateX(0%);
    -ms-transform: translateX(0%);
    -moz-transform: translateX(0%);
  }
  to {
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
  }
}
