#slider {
  writing-mode: bt-lr; /* IE */
  -webkit-appearance: slider-vertical; /* Chromium */
}

#slider::-webkit-slider-runnable-track {
  cursor: pointer;
  animate: 0.2s;
  background: #b1b1b1;
  border-radius: 10px;
}

#slider::-moz-range-track {
  cursor: pointer;
  animate: 0.2s;
  background: #b1b1b1;
  border-radius: 10px;
}

#slider::-ms-track {
  cursor: pointer;
  animate: 0.2s;
  background: #b1b1b1;
  border-radius: 10px;
}

@media (max-width: 419px) {
  .banner-scroll {
    animation: bannermove 4s 0.1s linear infinite;
  }
}

@keyframes bannermove {
  from {
    transform: translate3d(0%, 0, 0);
  }
  to {
    transform: translate3d(-50%, 0, 0);
  }
}
